
.section1.section
	.cont
		H2 Summary and conclusion
		img(src='0master.gif')

.section1.section
	.cont
		img(src='0f-b.jpg')
		H3 Some of the Back end can be off shored. Some is an API.

.section2.section
	.cont
		img(src='1enterBankInfo.png')
		H2 Mint idea: enter banking info.
		H3 Found that if UI is nice, users would

.section3.section
	.cont
		H3 Extreme cloud, know your TCO
		img(src='2costs.png')


.section4.section
	.cont
		img(src='3ui.png')

.section4.section
	.cont
		H3 Engaging UI
		img(src='3interact.jpg')

.section2.section
	.cont
		H3 Can you make your app ....
		img(src='4flirt.gif')

.section1.section
	.cont
		H3 Rapid development
		img(src='5photo-shop.png')

.section3.section
	.cont
		H3 Learn creative and design techniques
		img(src='6story.png')

.section1.section
	.cont
		img(src='7p.png')

.section2.section
	.cont
		H3 Reduce resource for back end
		img(src='10org.jpg')
	
.section3.section
	.cont
		include:marked aMORE.md
