#error.modal
	//-a.modal-overlay(nohref onclick="closeError()", aria-label='Close')
	.modal-container.delayShowing
		.modal-body
			.toast.toast-error 
				a.float-right(nohref onclick="closeError()")
					svg.feather.feather-x(viewBox='0 0 24 24')
						line(x1='18', y1='6', x2='6', y2='18')
						line(x1='6', y1='6', x2='18', y2='18')
				#errorMsg
#success.modal
	a.modal-overlay(nohref onclick="closeSuccess()", aria-label='Close')
	.modal-container.delayShowing
		.modal-body
			.toast.toast-success
				a.float-right(nohref onclick="closeSuccess()")
					svg.feather.feather-x(viewBox='0 0 24 24')
						line(x1='18', y1='6', x2='6', y2='18')
						line(x1='6', y1='6', x2='18', y2='18')
				#successMsg

auth-tag
include register
#loginScr.modal
	.modal-overlay
	.modal-container.delayShowing
		.modal-header 
			h4.center Log in to your account.
		.modal-body
			form#loginform.form-group
				label.form-label(for='lemail') Email Address or Username
				input#lemail.form-input(type='email', placeholder='Email or Username' autocomplete='email')
				.flex.edge
					.left 
						label.form-label(for='lpw') Password&nbsp;
					.right
						a#resetpw(noref) Forgot Password?
				input#lpw.form-input(type='password', placeholder='Password', autocomplete='current-password')
		.modal-footer
			.flex.edge
				.left
					#loginMsg.toast.toast-error Unable to serve. Is the secret code correct?
				.right
					#loginb.btn Login


script.
	window.auth = riot.mount('auth-tag')[0] // bring in access to auth

	//const baseURL = 'http://165.227.12.163:9083' // TODO: EDIT this and mbake
	//const baseURL = 'https://appthingsapi.mymeta.host' // TODO: EDIT this and mbake, moved to auth-tag


	function onLogout(){
		auth.logout()
		.then(function(user) {
			$('#loginScr').addClass('active') //show the login popup
		})
		.catch(function(error){
			showError(error.message)
		})
	}

	depp.require(['style','ma-client'], function () {
		console.log('depp require client')

		
		$('#lemail, #lpw').on('keyup change', function(){ //validation
			if ($('#lemail').is(":valid")
				&& $('#lpw').val().trim().length>5
			) {
				$('#loginb').removeClass('disabled')
				$('#loging').addClass('btn-primary')
			} else {
				$('#loginb').addClass('disabled')
				$('#loginb').removeClass('btn-primary')
			}
		})

		$('#loginMsg').hide() // no message
		$('#loginb').addClass('disabled') //by default, need to enter stuff first
		$('#loginb').removeClass('btn-primary')


		$('#loginb').click(function(){
			let username = $('#lemail').val()
			let code = $('#lpw').val()

			auth.login(username, code) // tag
			.then(function() {
				depp.done('login')
				$('#loginMsg').text('')
				$('#loginMsg').hide()
				$('#loginScr').removeClass('active') //hide the login popup

				showHideByRole()

				return
			})
			.catch(function(error){
				$('#loginMsg').text(error.message)
				$('#loginMsg').show()
			})
		})

		$('#resetpw').click(function(){
			if ($('#lemail').is(":valid")) {
				let emailAddress = $('#lemail').val()
				auth.sendPasswordResetEmail(emailAddress)
				.then(function() {
					$('#loginMsg').text('Please check your email for '+emailAddress+'.')
					$('#loginMsg').show()
				})
				.catch(function(error){
					$('#loginMsg').text(error.message)
					$('#loginMsg').show()
				})
			} else {
				$('#loginMsg').text('Please enter your valid email.')
				$('#loginMsg').show()
			}
		})

		if (auth.isLoggedIn()) {// tag
			auth.ensureService() //recreates MetaAdminService after page nav and sets depp.done('login')
			showHideByRole()
		}
		else if (window.location.search.indexOf('?register')==-1) //not registration process
			$('#loginScr').addClass('active') // show login popup

		$('.delayShowing').removeClass('delayShowing')
	})

	function showHideByRole() {} //may be overridden by page-specific

	// other modals
	function showError(msg){
		$('#errorMsg').html(msg)
		$('#error').addClass('active')
	}
	function closeError(){
		$('#error').removeClass('active')
	}

	var successCallback

	function showSuccess(msg, callback){
		$('#successMsg').html(msg)
		$('#success').addClass('active')
		if (callback)
				successCallback = callback
		else 
				successCallback = function(){}
	}
	function closeSuccess(){
		
		$('#success').removeClass('active')
		successCallback()
	}




