head
   
   script(src='//cdn.jsdelivr.net/npm/jquery@3.4.0/dist/jquery.slim.min.js')

   <script src="//cdn.snipcart.com/scripts/2.0/snipcart.js" data-api-key="MDM3MmIzZGUtYjUyZC00NjhjLWIwYmQtODE2NGI0NDM1MDRjNjM2OTE4MzUyMzc4NzIxNjYx" id="snipcart"></script>

   <link href="//cdn.snipcart.com/themes/2.0/base/snipcart.min.css" rel="stylesheet" type="text/css" />

body

   button.snipcart-add-item(data-item-id='2', data-item-name='Bacon', data-item-price='3.00', data-item-weight='20', data-item-url='//myapp.com/products/bacon', data-item-description='Some fresh bacon')
      | Buy bacon