extends /layout/layout

block main
	script(src=ROOT+ 'screen/people/tags/userlist-tag.js') 
	script.
		depp.require(['style','ma-client', 'login'], function() {
			console.log('depp ready, user is logged in, will call getUsers')
			if (AdminAuth.currentRole()!='Admin')
				window.location.href='/screen/posts'
			else	
				window.aSrv.getUsers().then(listRes)
		})

		function listRes(resp) {
			items = resp.data._cmd
			depp.done('items')
		}

	.show-sm
		#navp.container
			a(href='/screen/people/#')
				flex.left
					svg.left.feather.feather-chevron-left(viewBox='0 0 24 24')
						polyline(points='15 18 9 12 15 6')
					svg.left.feather.feather-users(viewBox='0 0 24 24')
						path(d='M17 21v-2a4 4 0 0 0-4-4H5a4 4 0 0 0-4 4v2')
						circle(cx='9', cy='7', r='4')
						path(d='M23 21v-2a4 4 0 0 0-3-3.87')
						path(d='M16 3.13a4 4 0 0 1 0 7.75')
					.left.padL People
	#detailp.d-none
		include invite
	p
	#tabp.container
		ul#team.tab
			li.tab-item.active
				a(nohref onclick='invites(0)')
					#teamTab.badge.c-hand(data-badge='0') Team&nbsp;
			li.tab-item
				a(nohref onclick='invites(1)')
					#invitedTab.badge.c-hand(data-badge='0') Invites&nbsp;
	p

	#listp.container
		ul.nav.listhead
			li.nav-item
				.flex.edge
					#members.left.badge(data-badge='0') Team
					a.btn.right(nohref onclick='openInvite();return false')
						.flex.edge
							svg.feather.feather-user-plus(viewBox='0 0 24 24')
								path(d='M16 21v-2a4 4 0 0 0-4-4H5a4 4 0 0 0-4 4v2')
								circle(cx='8.5', cy='7', r='4')
								line(x1='20', y1='8', x2='20', y2='14')
								line(x1='23', y1='11', x2='17', y2='11')
							.padL Invite
		userlist-tag

	p
	#footp.container
		.divider.text-center(data-content='MyMeta Admin')

	script.
		const tag = riot.mount('userlist-tag')[0] // mount the first tag

		depp.require(['style','ma-client','items'], function () {
			tag.render(items, 0, '#{PROD_ROOT}', callback)
		})

		function callback(teamCount, invitedCount){
			$('#teamTab').attr('data-badge', teamCount)
			$('#invitedTab').attr('data-badge', ''+invitedCount)
			$('#members').attr('data-badge', $('#team li.active').index()==0?teamCount:invitedCount)
		}


		function invites(i){
			var oldIdx = $('#team li.active').index();
			$('#team li:lt('+i+')').removeClass('active')
			$('#team li:gt('+i+')').removeClass('active')
			$('#team li:eq('+i+')').addClass('active')
			if (i != oldIdx) {//tab changed 
				tag.render(items, i, '#{PROD_ROOT}', callback)
				$('#members').text(i==0?'Team':'Invites')
			}
		}



		




