p
.container
	.card
		.card-header
			.navbar
				.navbar-section
					a(nohref onclick='closeInvite()')
						.flex.edge
							svg.feather.feather-arrow-left(viewBox='0 0 24 24')
								line(x1='19', y1='12', x2='5', y2='12')
								polyline(points='12 19 5 12 12 5')
							h6.back Back
				.navbar-section
					span Invite an Editor
		.card-body
			form#inviteform.form-group
				label.form-label(for='invitees') 
					| Email
					//-.btn.btn-link.tooltip.tooltip-right(data-tooltip="Separate multiple emails with commas")
						svg.text-gray.feather.feather-help-circle(viewBox='0 0 30 30')
							circle(cx='12', cy='12', r='10')
							path(d='M9.09 9a3 3 0 0 1 5.83 1c0 2-3 3-3 3')
							line(x1='12', y1='17', x2='12', y2='17')
				//-input#invitees.form-input(type='email', multiple, placeholder='Email')
				input#invitees.form-input(type='email', placeholder='Email')
				//-p
				//-label.form-label(for='cmessage') Custom Message
				//-textarea#cmessage.form-input(type='textarea', rows='4', placeholder='')
		.card-footer
			#send.disabled.float-right.btn(onclick='send()') Send Invitation
p
script.
	depp.require(['style','ma-client'], function () {

		$('#invitees').keyup(function(){
			if ($(this).is(":valid")) {
				$('#send').removeClass('disabled')
				$('#send').addClass('btn-primary')
			} else {
				$('#send').addClass('disabled')
				$('#send').removeClass('btn-primary')
			}
		})

		if ('?invite'==window.location.search) //on first entry
			openInvite()
	})

	function openInvite() {
		$('#inviteform')[0].reset()
		$('#detailp').removeClass('d-none')
		$('#invitees').focus()
	}

	function closeInvite() {
		$('#inviteform')[0].reset()
		$('#detailp').addClass('d-none')
	}

	function send() {
		let emails = $('#invitees').val().split(',').join().split(' ');
		let i, len = emails.length
		let pw = '!Te456'
		for (i=0; i < len; i++) {
			auth.invite(emails[i])
			.then(function() {
				showSuccess('Invite sent successfully')
			})
			.catch(function(error){
				console.log(error) //show error in .message
				let msg = error
				if (msg=='Error: The email address is already in use by another account.')
					msg = 'This person has already been invited'
				showError(msg) 
			})
		}
		//when done #('#detailp').addClass('d-none')
	}
