
//smalest possible css

// font 16px and Open Sans
@import 'semantic-ui/globals/all';

@import 'semantic-ui/elements/_header';

//@import 'semantic-ui/collections/_menu';
@import 'semantic-ui/collections/_grid';

//@import 'semantic-ui/views/all';

@import 'semantic-ui/modules/_dimmer';
@import 'semantic-ui/modules/_sidebar';

// http://jsdelivr.com/package/npm/semantic-ui?path=dist%2Fcomponents
