/.project

.DS_Store

node_modules/

nohup.out


**/lib/*.js
**/lib/*.min.js
**/www/editors/**/*.html
**/wwwAdmin/admin/**/*.html
**/www/*.html
**/wwwAdmin/*.html
**/**/assets/css/*.css

serviceAccountKey.json
/CMS/config.yaml
/CMS/wwwAdmin/config.js
/CMS/www/config.js
keys.yaml

.env