html{touch-action:manipulation;}
.delayShowing{opacity:0;}
.blur{-webkit-filter:blur(2px);filter:blur(2px);}
::-webkit-media-controls{display:none !important;}
video::-webkit-media-controls-enclosure{display:none !important;}
*{margin:0;padding:0;}
html,body{width:100%;height:100%;}
#heading{padding-top:1em;padding-left:1em;}
.vid{-o-object-fit:fill;object-fit:fill;border-radius:5px;width:100%;height:100%;}
.pgCont{display:flex;flex-direction:column;height:100vh;max-height:100vh;}
.top{height:50px;}
.main{display:flex;flex-grow:1;min-height:100px;}
#left{width:calc(100% - 220px);min-width:150px;display:flex;flex-direction:column;Xborder:.1px solid yellow;Xbackground:gray;}
#right{border-top:1.4px solid black;width:220px;border-radius:5px 0 0 0;padding:5px;border-left:1.4px solid black;}
.mediaContainerTop{padding-left:1px;flex-grow:0;Xborder:.1px solid red;Xbackground:silver;}
.mainBot{flex-grow:1;background:#fff;min-height:75px;border-top:1.4px solid black;margin-top:5px;} /* mB v6.09.30 on 2019-10-02T20:55:23.473Z */