extends /layout/layout_edit

block main
	script(src=ROOT+ 'screen/posts/tags/postlist-tag.js')
	script.
		depp.require(['style','ma-client', 'login'], function() {
			console.log('loadjs ready, user is logged in, will call itemize')
			//window.aSrv.getItems('blog').then(listRes)
		})

		function listRes(resp) {
			items = resp.data._cmd
			//-alert(items)
			depp.done('feed')
		}

	p
	#edittitlep.container
		.form-group
			input.form-input(name='title', placeholder='Blog Title')
	p
	#edittabp.container
		ul.tab
			li.tab-item.active
				a(href='#md') Markdown&nbsp;
			li.tab-item
				a(href='#view') View&nbsp;
	#editorp.container
		textarea#cms1(rows='20', placeholder='Blog Entry here')

block props
	//-#propp.container
	.tile
		.tile-content
			h6.tile-title Post Settings
		.tile-action
			a(nohref onclick='toggleEdit()')
				svg.feather.feather-x(viewBox='0 0 24 24')
					line(x1='18', y1='6', x2='6', y2='18')
					line(x1='6', y1='6', x2='18', y2='18')
	.accordion
		input#accordion-1(type='checkbox', name='accordion-checkbox', hidden='')
		label.accordion-header(for='accordion-1')
			.flex.edge
				h6.left Status
				.right
				svg.feather.feather-chevron-down(viewBox='0 0 24 24')
					polyline(points='6 9 12 15 18 9')
				svg.feather.feather-chevron-up(viewBox='0 0 24 24')
					polyline(points='18 15 12 9 6 15')
		.accordion-body
			#publishdate.card
				.card-body
					.accordion
						input#accordion-2a(type='checkbox', name='accordion-checkbox', hidden='')
						label.accordion-header(for='accordion-2a')
							.flex.edge
								.left
									svg.feather.feather-calendar(viewBox='0 0 24 24')
										rect(x='3', y='4', width='18', height='18', rx='2', ry='2')
										line(x1='16', y1='2', x2='16', y2='6')
										line(x1='8', y1='2', x2='8', y2='6')
										line(x1='3', y1='10', x2='21', y2='10')
								.left.text-bold Publish Immediately
								.right
								svg.feather.feather-chevron-down(viewBox='0 0 24 24')
									polyline(points='6 9 12 15 18 9')
								svg.feather.feather-chevron-up(viewBox='0 0 24 24')
									polyline(points='18 15 12 9 6 15')
						.accordion-body
							p
							.text-center Choose a date to schedule:
							include tags/calendar

	.accordion
		input#accordion-2(type='checkbox', name='accordion-checkbox', hidden='')
		label.accordion-header(for='accordion-2')
			.flex.edge
				h6.left Tags
				.right
				svg.feather.feather-chevron-down(viewBox='0 0 24 24')
					polyline(points='6 9 12 15 18 9')
				svg.feather.feather-chevron-up(viewBox='0 0 24 24')
					polyline(points='18 15 12 9 6 15')
		.accordion-body
			#tags.card
				.card-body
					include tags/autocomplete
	.accordion
		input#accordion-3(type='checkbox', name='accordion-checkbox', hidden='')
		label.accordion-header(for='accordion-3')
			.flex.edge
				h6.left Featured Image
				.right
				svg.feather.feather-chevron-down(viewBox='0 0 24 24')
					polyline(points='6 9 12 15 18 9')
				svg.feather.feather-chevron-up(viewBox='0 0 24 24')
					polyline(points='18 15 12 9 6 15')
		.accordion-body
			#featuredimage.card
				.card-body
					input.form-input(type='file')

	.accordion
		input#accordion-4(type='checkbox', name='accordion-checkbox', hidden='')
		label.accordion-header(for='accordion-4')
			.flex.edge
				h6.left Images
				.right
				svg.feather.feather-chevron-down(viewBox='0 0 24 24')
					polyline(points='6 9 12 15 18 9')
				svg.feather.feather-chevron-up(viewBox='0 0 24 24')
					polyline(points='18 15 12 9 6 15')
		.accordion-body
			#featuredimage.card
				.card-body
					input.form-input(type='file')

	script.

		depp.require('site', function () {

			alert('init editor');
			/*
				,'//cdn.jsdelivr.net/npm/codemirror@5.37.0/theme/solarized.css'
				,'//cdn.jsdelivr.net/npm/codemirror@5.37.0/mode/markdown/markdown.js'
				,'//cdn.jsdelivr.net/npm/codemirror@5.37.0/mode/yaml/yaml.js'
				,'//cdn.jsdelivr.net/npm/codemirror@5.37.0/keymap/sublime.js'
			*/
			depp.define({'cmjs': [
				'//cdn.jsdelivr.net/npm/codemirror@5.37.0/lib/codemirror.css'

				,'//cdn.jsdelivr.net/npm/codemirror@5.37.0/lib/codemirror.min.js'
				,'//cdn.jsdelivr.net/npm/codemirror@5.37.0/mode/pug/pug.js'

			]})
		})//ready

		depp.require('cmjs', function () {
			_initCodeMirror()

			/*$('#saveEdits').click(function() {
				console.log('save')
				_saveEdits()
			})//click */

		})//ready

		let myCodeMirror
		function _initCodeMirror() {
			myCodeMirror = CodeMirror.fromTextArea(
				document.querySelector('#cms1') ,
					{
						mode:  'pug'
						, lineNumbers: true
						, tabSize: 3
						, indentWithTabs: true
						//, theme: 'neat'
						//, keyMap: 'sublime'
						, v1iewportMargin: 'Infinity'
					}
				)
			myCodeMirror.setSize('100%', '100%')
			depp.done('cm')
		}// initCM()

		function read( data) {
			let fn_ = data[0]
			let url = '/api/read?secret='
			let folder = '&folder='
			let fn = '&fn='
			url = url + getSec() + folder + getPage() + fn + fn_
			console.log(url)

			fetch(url)
				.then(function(resp) {
					return resp.text()
				}).then(function(ret) {

					loadjs.ready('cm', function() {
						myCodeMirror.getDoc().setValue(ret)
					})

				}).catch(function(err) {
					console.log('error', err)
			})//fetch
		}//()

		function _saveEdits() {
			let txt = myCodeMirror.getDoc().getValue()

			let url = '/api/write?secret='
			let folder = '&folder='
			let fn = '&fn='
			url = url + getSec() + folder + getPage() + fn + getFN()

			console.log(url)

			let headers = new Headers()
			headers.append('Content-Type', 'text/plain')
			fetch(url, {
					method: 'POST',
					headers : headers,
					body: txt,
				})
				.then(function(resp) {
					return resp.text()
				}).then(function(ret) {


				}).catch(function(err) {
					console.log('error', err)
			})//fetch
		}//()




