extends /layout/layout_edit

block main
	script(src=ROOT+ 'screen/posts/tags/featuredimage-tag.js')
	script(src=ROOT+ 'screen/posts/tags/medialist-tag.js')
	script.
		depp.require(['style','ma-client', 'login'], function() {
			console.log('loadjs ready, user is logged in, will call itemize')
			//window.aSrv.getItems('blog').then(listRes)
		})

		function listRes(resp) {
			items = resp.data._cmd
			//-alert(items)
			depp.done('feed')
		}

	p
	#edittitlep.container
		.form-group
			input.form-input(name='title', id='title', placeholder='Blog Title')
	p
	//-#edittabp.container
		ul.tab
			li.tab-item.active
				a(nohref) Markdown&nbsp;
			li.tab-item
				a(nohref) View&nbsp;
	#editorp.container
		textarea#cms1
block props
	.accordion
		input#accordion-1(type='checkbox', name='accordion-checkbox', hidden='')
		label.accordion-header(for='accordion-1')
			.flex.edge
				h6.left Status
				.right
				svg.feather.feather-chevron-down(viewBox='0 0 24 24')
					polyline(points='6 9 12 15 18 9')
				svg.feather.feather-chevron-up(viewBox='0 0 24 24')
					polyline(points='18 15 12 9 6 15')
		.accordion-body
			#publishdate.card
				.card-body
					.accordion
						input#accordion-2a(type='checkbox', name='accordion-checkbox', hidden='')
						label.accordion-header(for='accordion-2a')
							.flex.edge
								.left
									svg.feather.feather-calendar(viewBox='0 0 24 24')
										rect(x='3', y='4', width='18', height='18', rx='2', ry='2')
										line(x1='16', y1='2', x2='16', y2='6')
										line(x1='8', y1='2', x2='8', y2='6')
										line(x1='3', y1='10', x2='21', y2='10')
								.left.text-bold Publish Immediately
								.right
								svg.feather.feather-chevron-down(viewBox='0 0 24 24')
									polyline(points='6 9 12 15 18 9')
								svg.feather.feather-chevron-up(viewBox='0 0 24 24')
									polyline(points='18 15 12 9 6 15')
						.accordion-body
							p
							.text-center Choose a date to schedule:
							include tags/calendar

	.accordion
		input#accordion-2(type='checkbox', name='accordion-checkbox', hidden='')
		label.accordion-header(for='accordion-2')
			.flex.edge
				h6.left Tags
				.right
				svg.feather.feather-chevron-down(viewBox='0 0 24 24')
					polyline(points='6 9 12 15 18 9')
				svg.feather.feather-chevron-up(viewBox='0 0 24 24')
					polyline(points='18 15 12 9 6 15')
		.accordion-body
			.card
				.card-body
					//-include tags/autocomplete
					input.form-input(type='text', id='tags', placeholder='comma-delimited tags')
	.accordion
		input#accordion-3(type='checkbox', name='accordion-checkbox', hidden='')
		label.accordion-header(for='accordion-3')
			.flex.edge
				h6.left Featured Image
				.right
				svg.feather.feather-chevron-down(viewBox='0 0 24 24')
					polyline(points='6 9 12 15 18 9')
				svg.feather.feather-chevron-up(viewBox='0 0 24 24')
					polyline(points='18 15 12 9 6 15')
		.accordion-body
			#featuredimage.card
				featuredimage-tag

	.accordion
		input#accordion-4(type='checkbox', name='accordion-checkbox', hidden='')
		label.accordion-header(for='accordion-4')
			.flex.edge
				h6.left Media
				.right
				svg.feather.feather-chevron-down(viewBox='0 0 24 24')
					polyline(points='6 9 12 15 18 9')
				svg.feather.feather-chevron-up(viewBox='0 0 24 24')
					polyline(points='18 15 12 9 6 15')
		.accordion-body
			#mediax.card
				.card-body
					input.form-input(multiple type='file' id='fx', placeholder='other images')
			medialist-tag


	script.
		const tag = riot.mount('medialist-tag')[0] // mount the first tag
		const itag = riot.mount('featuredimage-tag')[0]

		function deleteMedia(filename){
			$('#fx').val('')
			tag.deleteItem(filename)
		}

		depp.require(['style','ma-client'], function () {

			$('#title').keyup(function(){
				if(this.value.trim()) {
					$('.save').removeClass('disabled2')
				} else {
					$('.save').addClass('disabled2')
				}
			})

			$('#fx').change(function(){ //upload media
				tag.upload(this.files)
			}) 

			$('.save').click(function(){
				if ($(this).hasClass('disabled2') //validation
					|| myCodeMirror.getDoc().getValue().trim()=='## Blog Entry here'
				) { 
					showError("You haven't written anything yet!")
					return
				}
				itag.read(readDone)
			})// click
		})//require

		function readDone(f1data, f1name) {
			let title = $('#title').val()
			let content = myCodeMirror.getDoc().getValue()
			content.replace('## Blog Entry here', '') //just in case it's left over

			let tags  = $('#tags').val()
			let date_published = moment().toISOString()
			let date1 = $('#date1').val()
			if (date1 != '')
				date_published = moment(date1, 'D MMMM YYYY').toISOString()
			
			let fx = JSON.stringify(tag.items)

			window.aSrv.newBlog('blog', title, 'No summary', content, date_published, 
				tags, f1name, f1data, fx
			).then(newBlogRes)
		}

		function newBlogRes(resp) {
			showSuccess('Blog entry saved successfully!', function(){
				window.location.href='/screen/posts'
			})
		}


		depp.require('style', function () {
			depp.define({'cmjs': [
				'//cdn.jsdelivr.net/npm/codemirror@5.40.2/lib/codemirror.css'
				,'//cdn.jsdelivr.net/npm/codemirror@5.40.2/lib/codemirror.min.js'
				,'//cdn.jsdelivr.net/npm/codemirror@5.40.2/mode/markdown/markdown.js'
			]})
		})//require

		depp.require('cmjs', function () {
			_initCodeMirror()
		})//require

		let myCodeMirror
		function _initCodeMirror() {
			myCodeMirror = CodeMirror.fromTextArea(
				document.querySelector('#cms1') ,
					{
						mode: 'markdown'
						, lineWrapping: true
						, cursorHeight: 0.85
					}
				)
			myCodeMirror.setSize('100%', '100%')
			myCodeMirror.setValue('## Blog Entry here\n\n\n\n')
			depp.done('cm')
		}// initCM()

		/*function read( data) {
			let fn_ = data[0]
			let url = '/api/read?secret='
			let folder = '&folder='
			let fn = '&fn='
			url = url + getSec() + folder + getPage() + fn + fn_
			console.log(url)

			fetch(url)
				.then(function(resp) {
					return resp.text()
				}).then(function(ret) {

					loadjs.ready('cm', function() {
						myCodeMirror.getDoc().setValue(ret)
					})

				}).catch(function(err) {
					console.log('error', err)
			})//fetch
		}//()*/





