doctype html
html
	head
	script.
		ROOT = '#{ROOT}' //- sets global pug and .js from dat.yaml
		console.log('root','#{ROOT}')
		let _start=Date.now()
	meta(charset='utf-8')
	
	meta(name='viewport', content='user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width')
	title New Post
	link(rel='shortcut icon', href= ROOT + 'assets/favicon.png', type='image/x-icon')

	script(src='https://www.gstatic.com/firebasejs/5.4.2/firebase-app.js')
	script(src='https://www.gstatic.com/firebasejs/5.4.2/firebase-auth.js')
	script(src='https://cdn.jsdelivr.net/npm/johnnydepp@0.0.3/dist/depp.min.js')
	script(src='https://cdn.jsdelivr.net/npm/riot@3.12.0/riot.min.js')
	script(src='https://unpkg.com/axios@0.18.0/dist/axios.min.js')
	style.
		.delayShowing { opacity: 0.01; }

	script(src='/layout/tags/fb-tag.min.js')

	body
		#edithead.delayShowing.flex.edge 
			.left
				.navbar
					.navbar-section
						a.btn.btn-link(href='/screen/posts') Close
			.right
				.navbar
					.navbar-section
						script.
							function toggleEdit(){
								var t = $('#toggle') 
								if (t.hasClass('active')){
									window.location.hash = '#edit'
									t.removeClass('active')
								}
								else
								{
									window.location.hash = '#'
									t.addClass('active')
								}
							}
						#toggle.a.btn.active(nohref onclick='toggleEdit()')
							svg.feather.feather-settings(viewBox='0 0 24 24')
								circle(cx='12', cy='12', r='3')
								path(d='M19.4 15a1.65 1.65 0 0 0 .33 1.82l.06.06a2 2 0 0 1 0 2.83 2 2 0 0 1-2.83 0l-.06-.06a1.65 1.65 0 0 0-1.82-.33 1.65 1.65 0 0 0-1 1.51V21a2 2 0 0 1-2 2 2 2 0 0 1-2-2v-.09A1.65 1.65 0 0 0 9 19.4a1.65 1.65 0 0 0-1.82.33l-.06.06a2 2 0 0 1-2.83 0 2 2 0 0 1 0-2.83l.06-.06a1.65 1.65 0 0 0 .33-1.82 1.65 1.65 0 0 0-1.51-1H3a2 2 0 0 1-2-2 2 2 0 0 1 2-2h.09A1.65 1.65 0 0 0 4.6 9a1.65 1.65 0 0 0-.33-1.82l-.06-.06a2 2 0 0 1 0-2.83 2 2 0 0 1 2.83 0l.06.06a1.65 1.65 0 0 0 1.82.33H9a1.65 1.65 0 0 0 1-1.51V3a2 2 0 0 1 2-2 2 2 0 0 1 2 2v.09a1.65 1.65 0 0 0 1 1.51 1.65 1.65 0 0 0 1.82-.33l.06-.06a2 2 0 0 1 2.83 0 2 2 0 0 1 0 2.83l-.06.06a1.65 1.65 0 0 0-.33 1.82V9a1.65 1.65 0 0 0 1.51 1H21a2 2 0 0 1 2 2 2 2 0 0 1-2 2h-.09a1.65 1.65 0 0 0-1.51 1z')
						a.btn.disabled(href='#all') Preview
<<<<<<< HEAD
						a#save.btn Save...
		#edit.container.delayShowing
			.main#hideprops.bg-white.delayShowing
				.panel
					.panel-body
						#router
							block main
			nav.props.bg-secondary.delayShowing
				.panel
					.panel-body
							block props
=======
							//-.flex.edge
								svg.left.feather.feather-plus-square(viewBox='0 0 24 24')
									rect(x='3', y='3', width='18', height='18', rx='2', ry='2')
									line(x1='12', y1='8', x2='12', y2='16')
									line(x1='8', y1='12', x2='16', y2='12')
								.padL.hide-sm Publish...
						a.btn.disabled(href='#all') Publish...
							//-.flex.edge
								svg.left.feather.feather-plus-square(viewBox='0 0 24 24')
									rect(x='3', y='3', width='18', height='18', rx='2', ry='2')
									line(x1='12', y1='8', x2='12', y2='16')
									line(x1='8', y1='12', x2='16', y2='12')
								.padL.hide-sm Publish...
						//-a.btn.btn-link(nohref, onclick='onLogout(true);return false') Logout
		#edit.container
			.columns.col-gapless.delayShowing
				.main.bg-white.column.col.sm-6.col-md-6.col-lg-9.col-xl-9.col-10
					.panel
						.panel-body
							#router
								block main
				.props.bg-secondary.column.col-sm-6.col-md-6.col-lg-3.col-xl-3.col-2
					.panel
						.panel-body
								block props
>>>>>>> parent of 3193b35... New Blog Properties Panel


		script.
			function userSzSc() {
				console.log('resize|scroll')
			}
			console.log('console.log stops working ater jquery is loaded???')

		script(src='https://cdn.jsdelivr.net/npm/jquery@3.3.1/dist/jquery.min.js')
		script.
			console.log('console.log should still work after jquery, but it does not ')
		script(src= ROOT + 'assets/js/setup.js')
		script.
			depp.define({'css': [
				ROOT + 'assets/css/spectre.css'
				, ROOT + 'assets/css/spectre-exp.css'
				, ROOT + 'assets/css/pickadate/classic.css'
				, ROOT + 'assets/css/pickadate/classic.date.css'
				, ROOT + 'assets/css/pickadate/classic.time.css'
				, ROOT + 'assets/css/nav.css'
				, ROOT + 'assets/css/main.css'
				, 'css!https://fonts.googleapis.com/css?family=Open+Sans'
			]})
			depp.require(['css'])

		include modal

		//-link(href= ROOT + 'assets/css/debug.css', rel='stylesheet')

