doctype html
html
	head
	script.
		ROOT = '#{ROOT}' //- sets global pug and .js from dat.yaml
		console.log('root','#{ROOT}')
		let _start=Date.now()
	meta(charset='utf-8')
	
	meta(name='viewport', content='width=device-width, initial-scale=1')
	title MyMeta Admin
	link(rel='shortcut icon', href= ROOT + 'assets/favicon.png', type='image/x-icon')

	script(src='https://www.gstatic.com/firebasejs/5.4.2/firebase-app.js')
	script(src='https://www.gstatic.com/firebasejs/5.4.2/firebase-auth.js')

	//-script(src='https://cdn.jsdelivr.net/npm/johnnydepp@0.0.2/dist/depp.min.js')
	script(src='https://cdn.jsdelivr.net/npm/loadjs@3.5.4/dist/loadjs.js')
	script(src='https://cdn.jsdelivr.net/npm/riot@3.12.0/riot.min.js')
	script(src='https://unpkg.com/axios@0.18.0/dist/axios.min.js')

	style.
		.delayShowing { opacity: 0.01; }

	script(src='/layout/tags/fb-tag.min.js')
	

	body
		.c-offcanvas-content-wrap

			#head.delayShowing.flex.edge.bblue.white.pad
				h5#navbarBrand.left.navbar-brand MyMeta Admin
				.right
					.navbar
						.navbar-section
							a.btn(href='#offCanvas', id='triggerButton') 
								.flex.edge
									svg.left.feather.feather-plus-square(viewBox='0 0 24 24')
										rect(x='3', y='3', width='18', height='18', rx='2', ry='2')
										line(x1='12', y1='8', x2='12', y2='16')
										line(x1='8', y1='12', x2='16', y2='12')
									.padL.hide-sm New Post
							a.btn.btn-link(href='#') Logout
			//-.container
			//-#head.delayShowing.flex.edge.bblue.white.pad
				.navbar
					.navbar-section
						a.btn.btn-link(href='#') MyMeta Admin
						//-a.btn.btn-link(href='#') Examples
					//-.navbar-center
						p &nbsp;
					.navbar-section
						a.btn(href='#') Button
						a.btn.btn-link(href='#') Logout

			.container
				.columns.col-gapless.delayShowing
					.sidebar.bg-secondary.column.col-sm-12.col-md-5.col-lg-3.col-xl-3.col-2
						.panel
							.panel-body
								include nav

					.main.bg-gray.column.col-md-7.col-lg-9.col-xl-9.col-10.hide-sm
						aside(id='offCanvas')
							.panel
								.panel-body
									#router
										block main
									//-#router
									//-block main

		script.
			function userSzSc() {
				console.log('resize|scroll')
			}

		script(src='https://cdn.jsdelivr.net/npm/jquery@3.3.1/dist/jquery.min.js')
		script(src= ROOT + 'assets/js/setup.js')

		link(href= ROOT + 'assets/css/spectre.css', onload='cssLoaded()', rel='stylesheet')
		link(href= ROOT + 'assets/css/nav.css', rel='stylesheet')

		link(href='https://fonts.googleapis.com/css?family=Open+Sans', rel='stylesheet')
		link(href= ROOT + 'assets/css/main.css', rel='stylesheet')

		include modal

		//-link(href= ROOT + 'assets/css/debug.css', rel='stylesheet')

