#error.modal
	//-a.modal-overlay(nohref onclick="closeError()", aria-label='Close')
	.modal-container.delayShowing
		.modal-body
			.toast.toast-error 
				a.float-right(nohref onclick="closeError()")
					svg.feather.feather-x(viewBox='0 0 24 24')
						line(x1='18', y1='6', x2='6', y2='18')
						line(x1='6', y1='6', x2='18', y2='18')
				#errorMsg
#success.modal
	a.modal-overlay(nohref onclick="closeSuccess()", aria-label='Close')
	.modal-container.delayShowing
		.modal-body
			.toast.toast-success
				a.float-right(nohref onclick="closeSuccess()")
					svg.feather.feather-x(viewBox='0 0 24 24')
						line(x1='18', y1='6', x2='6', y2='18')
						line(x1='6', y1='6', x2='18', y2='18')
				#successMsg

auth-tag
#loginScr.modal
	.modal-overlay
	.modal-container.delayShowing
		.modal-header 
			h4.center Log in to your account.
		.modal-body
			form#loginform.form-group
				label.form-label(for='lemail') Email Address or Username
				input#lemail.form-input(type='email', placeholder='Email or Username' autocomplete='email')
				label.form-label(for='lpw') Password
				input#lpw.form-input(type='password', placeholder='Password', autocomplete='current-password')
		.modal-footer
			.flex.edge
				.left
					#loginMsg.toast.toast-error Unable to serve. Is the secret code correct?
				.right
					#loginb.btn Login


script.
	window.auth = riot.mount('auth-tag')[0] // bring in access to auth

	//const baseURL = 'http://165.227.12.163:9083' // TODO: EDIT this and mbake
	const baseURL = 'https://appthingsapi.mymeta.host' // TODO: EDIT this and mbake


	/*function loginTry(arg) {
		console.log('try')


		isLoggedIn(baseURL).then(function() {
				console.log('Lxxx yes')
				$('#loginScr').removeClass('active') // show app
				const aa = new AdminAuth()
				console.log(aa.secret)
				window.aSrv = new MetaAdminService(baseURL, aa.secret)
				depp.done('login')
				window.login.dispatch()

				console.log('depp done login')

				$('.delayShowing').removeClass('delayShowing')

			}, function() {
					onLogout(arg)
					$('.delayShowing').removeClass('delayShowing')

		})
	}//()*/

	function onLogout(){
		auth.logout()
		.then(function(user) {
			$('#loginScr').addClass('active') //show the login popup
		})
		.catch(function(error){
			showError(error.message)
		})
	}

	/*function onLogout(arg) {
		
		console.log('LXXX no')
		new AdminAuth().clear()
		$('#loginScr').addClass('active') // hide app
		try {
			delete window.aSrv
		} catch(err) { console.log(err) }
		if(arg) 
			$('#loginMsg').show(0)
		else 
			$('#loginMsg').hide(0) // no message
	}*/

	/*function setupLogin() {
		

		$('#loginb').click(function(){
			let username = $('#lemail').val()
			let code = $('#lpw').val()
			let aa = new AdminAuth()
			aa.save(username, code)
			console.log(aa.secret)
			//loginTry(true)

			auth.signInWithEmailAndPassword(username, code) //tag
		})
		
		loginTry(false)
	}*/

	depp.require(['style','ma-client'], function () {
		console.log('depp require client')

		$('#loginMsg').hide() // no message

		$('#loginb').click(function(){
			let username = $('#lemail').val()
			let code = $('#lpw').val()
			//let aa = new AdminAuth()
			//aa.save(username, code)
			//console.log(aa.secret)
			//loginTry(true)
			auth.signInWithEmailAndPassword(username, code) // tag
			.then(function(user) {
				$('#loginMsg').text('')
				$('#loginMsg').hide()
				//alert(JSON.stringify(user));
				auth.connectToService(username, code)
				$('#loginScr').removeClass('active') //hide the login popup
			})
			.catch(function(error){
				$('#loginMsg').text(error.message)
				$('#loginMsg').show()
			})
			
		})

		if (!auth.isLoggedIn()) // tag
			$('#loginScr').addClass('active') // show login
		else
			auth.ensureService()
		$('.delayShowing').removeClass('delayShowing')

		/*alert('location.search'+window.location.search)
		if ('?register'==window.location.search) {
				alert('going to register')
				setupRegister()
		}*/

	})

	// other modals
	function showError(msg){
		$('#errorMsg').html(msg)
		$('#error').addClass('active')
	}
	function closeError(){
		$('#error').removeClass('active')
	}

	var successCallback

	function showSuccess(msg, callback){
		$('#successMsg').html(msg)
		$('#success').addClass('active')
		if (callback)
				successCallback = callback
		else 
				successCallback = function(){}
	}
	function closeSuccess(){
		
		$('#success').removeClass('active')
		successCallback()
	}




