#error.modal
   //-a.modal-overlay(nohref onclick="closeError()", aria-label='Close')
   .modal-container.delayShowing
      .modal-body
         .toast.toast-error 
            a.float-right(nohref onclick="closeError()")
               svg.feather.feather-x(viewBox='0 0 24 24')
                  line(x1='18', y1='6', x2='6', y2='18')
                  line(x1='6', y1='6', x2='18', y2='18')
            #errorMsg
#success.modal
   a.modal-overlay(nohref onclick="closeSuccess()", aria-label='Close')
   .modal-container.delayShowing
      .modal-body
         .toast.toast-success
            a.float-right(nohref onclick="closeSuccess()")
               svg.feather.feather-x(viewBox='0 0 24 24')
                  line(x1='18', y1='6', x2='6', y2='18')
                  line(x1='6', y1='6', x2='18', y2='18')
            #successMsg


#loginScr.modal
   .modal-overlay
   .modal-container.delayShowing
      .modal-header
      .modal-body
         form.grid-form(autocomplete="off")
            fieldset
               legend Login
               div(data-row-span="1")
                  .field(data-field-span="1")
                     label Secret Code
                     input#code(type="password", autofocus="")

            br
            #loginMsg.toast.toast-warning Unable to serve. Is the secret code correct?

      .modal-footer
         button#butLog.btn  Login


script.

   function showError(msg){
      $('#errorMsg').html(msg)
      $('#error').addClass('active')
   }
   function closeError(){
      $('#error').removeClass('active')
   }

   var successCallback

   function showSuccess(msg, callback){
      $('#successMsg').html(msg)
      $('#success').addClass('active')
      successCallback = callback
   }
   function closeSuccess(){
      
      $('#success').removeClass('active')
      successCallback()
   }

   function loginTry(arg) {
      console.log('try')

      const baseURL = 'http://165.227.12.163:9083' // TODO: EDIT this and mbake
      //-const baseURL = 'https://appthingsapi.mymeta.host' // TODO: EDIT this and mbake

      isLoggedIn(baseURL).then(function() {
            console.log('Lxxx yes')
            $('#loginScr').removeClass('active') // show app
            const aa = new AdminAuth()
            console.log(aa.secret)
            window.aSrv = new MetaAdminService(baseURL, aa.secret)
            depp.done('login')
            window.login.dispatch()

           console.log('depp done login')

            $('.delayShowing').removeClass('delayShowing')

         }, function() {
               onLogout(arg)
               $('.delayShowing').removeClass('delayShowing')

      })
   }//()

   function onLogout(arg) {
      console.log('LXXX no')
      new AdminAuth().clear()
      $('#loginScr').addClass('active') // hide app
      try {
         delete window.aSrv
      } catch(err) { console.log(err) }
      if(arg) $('#loginMsg').show(0)
      else $('#loginMsg').hide(0) // no message

   }

   function setupLogin() {
      $('#loginMsg').hide(0) // no message

      $('#butLog').click(function(){
         let code = $('#code').val()
         let aa = new AdminAuth()
         aa.save(code)
         console.log(aa.secret)
         loginTry(true)
      })
       $('#butLogOut').click(function(){
         onLogout(false)
      })

      loginTry(false)
   }

   depp.require(['style','ma-client'], function () {
      console.log('loadjs ready client, calling setupLogin')
      setupLogin()
      console.log('after setupLogin done with login')
   })



