ul.nav
	li.nav-item
		a(href='#') 
			.flex.edge
				.left
					svg.feather.feather-eye(viewBox='0 0 24 24')
						path(d='M1 12s4-8 11-8 11 8 11 8-4 8-11 8-11-8-11-8z')
						circle(cx='12', cy='12', r='3')
					.padL View Site
p
h6 Manage
ul.nav
	li.nav-item.active
		a(href='/screen/posts/#all')
			.flex.edge
				.left
					svg.left.feather.feather-file-text(viewBox='0 0 24 24')
						path(d='M14 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V8z')
						polyline(points='14 2 14 8 20 8')
						line(x1='16', y1='13', x2='8', y2='13')
						line(x1='16', y1='17', x2='8', y2='17')
						polyline(points='10 9 9 9 8 9')
					.padL Blog Posts
				button.btn.btn-sm.right Add
	li.nav-item
		a(href='/screen/media/#all')
			.flex.edge
				.left
					svg.feather.feather-image(viewBox='0 0 24 24')
						rect(x='3', y='3', width='18', height='18', rx='2', ry='2')
						circle(cx='8.5', cy='8.5', r='1.5')
						polyline(points='21 15 16 10 5 21')
					.padL Media
				button.btn.btn-sm.right Add
p
h6 Configure
ul.nav
	li.nav-item
		a(href='/screen/people/#all')
			.flex.edge
				.left
					svg.feather.feather-users(viewBox='0 0 24 24')
						path(d='M17 21v-2a4 4 0 0 0-4-4H5a4 4 0 0 0-4 4v2')
						circle(cx='9', cy='7', r='4')
						path(d='M23 21v-2a4 4 0 0 0-3-3.87')
						path(d='M16 3.13a4 4 0 0 1 0 7.75')
					.padL People
				button.btn.btn-sm.right Add
