extends /layout/layout_edit

block main
	script.
	p
	#edittitlep.container
		.form-group
			input.form-input(name='title', id='title', placeholder='Blog Title')
	p
	#editorp.container
		editor-tag

//- properties panel is in /layout/layout_edit.pug

block script
	script.
		const editor = riot.mount('editor-tag')[0] // mount the first tag
		const mtag = riot.mount('medialist-tag')[0] 
		const itag = riot.mount('featuredimage-tag')[0]

		editor.render('## Blog Entry here\n\n\n\n') //default

		function deleteMedia(filename){
			$('#fx').val('')
			mtag.deleteItem(filename)
		}

		depp.require(['style','ma-client'], function () {

			//defaults
			
			$('.save').addClass('disabled2')
			$('.save').removeClass('btn-primary')

			$('#title').keyup(function(){
				if(this.value.trim()) {
					$('.save').removeClass('disabled2')
					$('.save').addClass('btn-primary')
				} else {
					$('.save').addClass('disabled2')
					$('.save').removeClass('btn-primary')
				}
			})

			$('#fx').change(function(){ //upload media
				mtag.upload(this.files)
			}) 

			$('.save').click(function(){
				if (validate(this))
					save()
			})// click

		})//require

		function validate(el) {
			if ($(el).hasClass('disabled2')
					|| editor.text()=='## Blog Entry here'
			) { 
				showError("You haven't written anything yet!")
				return false
			}
			return true
		}

		function save() {

			$('.save').addClass('loading')
			let title = $('#title').val()
			let content = editor.text()
			content.replace('## Blog Entry here', '') //just in case it's left over

			let tags  = $('#tags').val()
			let date_published = moment().toISOString()
			let date1 = $('#date1').val()
			if (date1 != '')
				date_published = moment(date1, 'D MMMM YYYY').toISOString()

			let f1name = itag.filename
			let f1data = itag.src
			
			let fx = JSON.stringify(mtag.items)

			window.aSrv.newItem('blog', title, 'No summary', content, date_published, 
				tags, f1name, f1data, fx
			).then(successRes)
			.catch(errorRes)
		}

		function successRes(resp) {
			$('.save').removeClass('loading')
			showSuccess('Blog entry saved successfully!', function(){
				window.location.href='/screen/posts'
			})
		}
		function errorRes(resp) {
			$('.save').removeClass('loading')
			showError('Error'+resp.message)
		}
