featuredimage-tag
	.card-body
		input.form-input(type='file', id='f1', placeholder='image', onchange="{upload}") 
	.card-image
		img#f1img.img-responsive(src='{src}')
		#f1del
			a(hohref onclick="{deleteFeaturedImage}")
				svg.feather.feather-x(viewBox='0 0 24 24')
					line(x1='18', y1='6', x2='6', y2='18')
					line(x1='6', y1='6', x2='18', y2='18')
	script.
		console.log('featuredimage-tag')
		thiz = this

		render() {// public
			this.src = ''
			this.update()
		}

		upload(e) {
			let files = e.target.files;
			if (files && files[0]) {
				thiz = this
				var reader = new FileReader();
				reader.readAsDataURL(files[0]);
				reader.onload = function(e) {
					thiz.src = e.target.result
					thiz.update()
					$('#featuredimage .card-body').hide();
					$('#f1del').show();
				}
			}
		}

		deleteFeaturedImage(){
			this.setSrc('')
		}

		setSrc(src){
			this.src = src||''
			this.update()
			if (src)
			{
				$('#featuredimage .card-body').hide();
				$('#f1del').show();
			}
			else
			{
				$('#f1').val('') 
				$('#featuredimage .card-body').show();
				$('#f1del').hide();
			}
		}

		read(callback) {
			let f1 = $('#f1')[0].files[0];
			if (f1)
			{
				//read again to be safe 
				let reader = new FileReader();
				reader.readAsDataURL(f1);
				reader.onload = function(e) {
					let b64 = e.target.result
					callback(b64, f1.name)
				}
			}
			else
				callback()
		}


