postlist-tag
	a(id='menucloser', tabindex='0')
	ul.nav.listbody
		<virtual each={items}>
			li.nav-item
				a(href='/screen/posts/edit/?{url}')
					.flex.edge
						.left 
							.card
								.card-title.h5 {title}
								.card-subtitle.text-gray {fmt_date_published}
						.right
							figure.avatar.avatar-xl
								img(src='{image}')
							.dropdown.dropdown-right.right
								a.dropdown-toggle(href='#', tabindex='0', onblur='{parent.blur}')
									svg.feather.feather-more-horizontal(viewBox='0 0 24 24')
										circle(cx='12', cy='12', r='1')
										circle(cx='19', cy='12', r='1')
										circle(cx='5', cy='12', r='1')
								ul.menu
									li.menu-item
										a(href='/screen/posts/edit/?{url}')
											.flex.edge
												.left
													svg.text-gray.feather.feather-edit-2(viewBox='0 0 24 24')
														polygon(points='16 3 21 8 8 21 3 21 3 16 16 3')
													.padL Edit
									//-li.menu-item.active
										a(nohref onclick='{parent.clone}')
											.flex.edge
												.left
													svg.text-gray.feather.feather-copy(viewBox='0 0 24 24')
														rect(x='9', y='9', width='13', height='13', rx='2', ry='2')
														path(d='M5 15H4a2 2 0 0 1-2-2V4a2 2 0 0 1 2-2h9a2 2 0 0 1 2 2v1')
													.padL Clone
									li.menu-item
										a(nohref, onclick='{parent.view}')
											.flex.edge
												.left
													svg.text-gray.feather.feather-eye(viewBox='0 0 24 24')
														path(d='M1 12s4-8 11-8 11 8 11 8-4 8-11 8-11-8-11-8z')
														circle(cx='12', cy='12', r='3')
													.padL View
									li.menu-item
										a(nohref onclick='{parent.remove}')
											.flex.edge
												.left
													svg.text-gray.feather.feather-trash-2(viewBox='0 0 24 24')
														polyline(points='3 6 5 6 21 6')
														path(d='M19 6v14a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V6m3 0V4a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v2')
														line(x1='10', y1='11', x2='10', y2='17')
														line(x1='14', y1='11', x2='14', y2='17')
													.padL Delete
		</virtual>
	script.
		console.log('oh hi postlist-tag')
		this.on('*', function(evt) {
			console.log('riot', evt)
		})
		this.items = []
		thiz = this

		render(data, scheduledFlag, prodUrl, callback) {// public

			thiz = this //?
			//store as defaults
			if (scheduledFlag != null)
				thiz.scheduledFlag = scheduledFlag
			if (prodUrl)
				thiz.prodUrl = prodUrl
			if (callback)
				thiz.callback = callback

			if(!data ) {
				thiz.items = []
				thiz.update()
				return
			}
			else
				thiz.data = data; 
			// clone
			let cloned = JSON.parse(data)
			thiz.publishedArr = []
			thiz.scheduledArr = []

			let sz = cloned.items.length
			for(i = 0; i < sz; i++) {
				var item = cloned.items[i]
				item.url = ROOT + 'blog/' + item.url
				if (item.image && item.image.indexOf('//')==-1) //relative
					item.image = thiz.prodUrl + item.url + '/' + item.image

				var m = moment(item.date_published)
				item.m_date_published = m
				item.fmt_date_published = m.format("MM/DD, YYYY h:mm a")
				if (moment().isBefore(m))
					thiz.scheduledArr.push(item)
				else
					thiz.publishedArr.push(item)
			}
			switch(thiz.scheduledFlag){
				case 1: thiz.items = thiz.scheduledArr.sort(function(a,b){return a.m_date_published.isBefore(b.m_date_published)}); break
				default: thiz.items = thiz.publishedArr.sort(function(a,b){return a.m_date_published.isBefore(b.m_date_published)})
			}
			thiz.update()
			thiz.callback(thiz.publishedArr.length, thiz.scheduledArr.length)
		}

		remove(e) {
			let path = e.item.url //e.g. /blog/my-first-post
			window.aSrv.removeItem('blog', path.substring(5)).then(function(resp){
				let items = resp.data._cmd
				thiz.render(items)
				showSuccess('Blog entry deleted successfully!')
			})
		}

		view(e)
		{
			window.open(thiz.prodUrl+e.item.url, '_blank');
			thiz.render(thiz.data) //refresh to remove menu item
		}

