doctype html
html
	head
		script.
			let _start=Date.now()
		include _header
		script(src='//cdn.jsdelivr.net/npm/loadjs@3.5.4/dist/loadjs.min.js')

		block head
		style.
			html { opacity: 0.01; }

	body
		script(src='/assets/js/setup.js')

		//- pushed
		block main

		script(src='/assets/js/fullPgSetup.js')

		script.
			console.log('layout')

			loadjs.ready('style', function() {
				//show a bit
				document.getElementsByTagName('html')[0].style.opacity = .03
			})

			loadjs.ready('css2', function() {
				setTimeout(function(){
					document.getElementsByTagName('html')[0].style.opacity = 1
				},1000/30)

				$('.ui.sidebar').sidebar('attach events', '.toc.item')

			})//ready
		link(rel='stylesheet', href='/assets/css/semantic1.css', onload='cssLoaded()')

		style.
			* {
				color: white !important;
			}
			.section {
				background-size: cover;
				background-attachment: fixed;

				display: flex;
				justify-content: center;
				align-items: center;
			}
			.cont {
				margin-left: 1rem;

			}
			img {
				min-height: 70vh;
				min-width:  70vw;

				max-height: 90vh;
				max-width:  90vw;
			}


			.section1 {
				background-image: url("/assets/res/1.jpg");
			}
			.section2 {
				background-image: url("/assets/res/2.jpg");
			}
			.section3{
				background-image: url("/assets/res/3.jpg");
			}
			.section4{
				background-image: url("/assets/res/4.jpg");
			}
