extends /layout/layout

block main
	.show-sm
		#navp.container
			a(href='/screen/media/#')
				flex.left
					svg.left.feather.feather-chevron-left(viewBox='0 0 24 24')
						polyline(points='15 18 9 12 15 6')
					svg.left.feather.feather-image(viewBox='0 0 24 24')
						rect(x='3', y='3', width='18', height='18', rx='2', ry='2')
						circle(cx='8.5', cy='8.5', r='1.5')
						polyline(points='21 15 16 10 5 21')
					.left.padL Media
	p
	#tabp.container
		ul.tab
			li.tab-item.active
				a(href='#published') 
					.badge(data-badge='2') Published&nbsp;
			li.tab-item
				a(href='#scheduled')
					.badge(data-badge='2') Scheduled&nbsp;
	//-p
	//-#ddp.container 
		.dropdown
			a.btn.btn-link.dropdown-toggle(href='#', tabindex='0')
				| Dropdown Menu 
				svg.feather.feather-chevron-down(viewBox='0 0 24 24')
					polyline(points='6 9 12 15 18 9')
			ul.menu
				li.menu-item.active
					a(href='#') 
						.badge(data-badge='2') Published&nbsp;
				li.menu-item
					a(href='#')
						.badge(data-badge='2') Scheduled&nbsp;
	p
	//-#statusp.container
		p [Title/Status Panel]
	//-p
	#listp.container
		p Media list here
	p
	#footp.container
		.divider.text-center(data-content='MyMeta Admin')


