doctype html
html
   head
      script.
         ROOT = '#{ROOT}' //- sets global pug and .js from dat.yaml
         console.log('root','#{ROOT}')
         let _start=Date.now()
      meta(charset='utf-8')
      meta(http-equiv='X-UA-Compatible', content='IE=edge')
      meta(name='viewport', content='width=device-width, initial-scale=1')
      title MetaBake.org
      link(rel='shortcut icon', href= ROOT + '/assets/favicon.png', type='image/x-icon')
      script(src='https://cdn.jsdelivr.net/npm/loadjs@3.5.4/dist/loadjs.js')
      script(src='https://cdn.jsdelivr.net/npm/riot@3.10.3/riot.min.js')
      style.
            .delayShowing { opacity: 0.01; }
            #head {
               position: fixed;
               top: 0px;
               width: 100%;
               z-index: 1;
            }
            #menu{
               height: 100vh;
               width: 240px;
               flex-basis: 240px;
               flex-grow: 0;
               flex-shrink: 0;
               position: fixed;
               top: 48px;

            }
            #router {
               position: absolute;
               top: 48px;
               left: 250px;
            }
      //link(href= ROOT + '/assets/css/debug.css', rel='stylesheet')
   body
      script(src='https://cdn.jsdelivr.net/npm/jquery@3.3.1/dist/jquery.min.js')
      script(src= ROOT + '/assets/js/setup.js')

      #head
         nav.columns.has-background-black.has-text-white.is-mobile.is-gapless
               .column.left
                  .pad My Admin

      .columns.is-gapless
         #menu.column.has-background-black.has-text-white
            ul.menu-list#offItems
               li
                  a(href=ROOT + '/screens/logs') Logs
               li
               a(href= ROOT + '/screens/b') Two

         .column
            #router
               block main

      link(href= ROOT + '/assets/css/bulma.css', onload='cssLoaded()', rel='stylesheet')
      link(href='https://fonts.googleapis.com/css?family=Open+Sans:300,400,700', rel='stylesheet')
      link(href= ROOT + '/assets/css/main.css', rel='stylesheet')

