head
    include /common/headFrag

    link(rel='stylesheet', href='https://cdn.jsdelivr.net/gh/intuition-dev/intuDS@v1.0.4/src/css/main.min.css')

body
    
    fraglist-custel

script.
    console.log('oh hi')

    depp.define({
     'fraglist':'/items/custels/fraglist/fraglist-custel.js'
    })

    depp.require([ 'fraglist' ], function() {
        console.log('loaded')
    }) 

    addEventListener('titleClick', function (evt) {
        const msg = evt.detail
        console.log(msg)

    })//()

     