head
    include headFrag
    
    script(src='https://get.mavo.io/mavo.js')
    link(rel='stylesheet' href='https://get.mavo.io/mavo.css')

body
    div(mv-app='mavoTest' mv-storage='local') My first Mavo app!