style.
   .item {
      width: 320px;
      overflow: hidden;
      margin: 5px;
      min-height: 600px;
   }
   .
   .breakUp {
      white-space: pre-wrap;
      word-break: break-all;
      word-wrap: break-word;
   }
   .card-content {
      padding: 1.25rem  !important;
   }

br
.flex

   .card.item
      br
      .card-image.center
         figure.image.is-128x128
            img.is-rounded(src='/team/wolf.jpg')
      .card-content
         .content
            .title.is-4.Dido Wolfgang
            .subtitle.breakUp.is-6.is-italic mmoshiashvili@metabake.org
         .content
            include:marked wolf.md


   .card.item
      br
      .card-image.center
         figure.image.is-128x128
            img.is-rounded(src='/team/vic.jpg')
      .card-content
         .media
            .media-content
               .title.is-4.Dido Vic
               .breakUp.subtitle.is-6.is-italic mmaselli@metabake.org
         .content
            include:marked vic.md


   .card.item
      br
      .card-image.center
         figure.image.is-128x128
            img.is-rounded(src='/team/wolf.jpg')
      .card-content
         .content
            .title.is-4.Dido Wolfgang
            .subtitle.breakUp.is-6.is-italic mmoshiashvili@metabake.org
         .content
            include:marked wolf.md


   .card.item
      br
      .card-image.center
         figure.image.is-128x128
            img.is-rounded(src='/team/vic.jpg')
      .card-content
         .media
            .media-content
               .title.is-4.Dido Vic
               .breakUp.subtitle.is-6.is-italic mmaselli@metabake.org
         .content
            include:marked vic.md

