doctype html
html
   head
      script.
         ROOT = '#{ROOT}' //- sets global pug and .js from dat.yaml
         console.log('root','#{ROOT}')
         let _start=Date.now()
      meta(charset='utf-8')
      
      meta(name='viewport', content='width=device-width, initial-scale=1')
      title Metabake.org
      link(rel='shortcut icon', href= ROOT + 'assets/favicon.png', type='image/x-icon')
      script(src='https://cdn.jsdelivr.net/npm/loadjs@3.5.4/dist/loadjs.js')
      script(src='https://cdn.jsdelivr.net/npm/riot@3.11.2/riot.min.js')
      script(src='https://unpkg.com/axios@0.18.0/dist/axios.min.js')

      style.
         .delayShowing { opacity: 0.01; }

   body
      script(src='https://cdn.jsdelivr.net/npm/jquery@3.3.1/dist/jquery.min.js')
      script(src= ROOT + 'assets/js/setup.js')

      #head.delayShowing.flex.edge.bblack.white.pad
         h3#navbarBrand.left.navbar-brand.text-bold My Admin
         .right
            button#butLogOut.btn Logout

      .columns.delayShowing
         #menu.column.bblack.white
            ul.nav
               li.nav-item
                  a(href=ROOT + 'screen/logs') Logs
               li.nav-item
                  a(href= ROOT + 'screen/linkBlog') LinkBlog

         .column
            #router
               block main

      link(href= ROOT + 'assets/css/spectre.css', onload='cssLoaded()', rel='stylesheet')
      link(href= ROOT + 'assets/css/nav.css', rel='stylesheet')

      link(href='https://fonts.googleapis.com/css?family=Open+Sans', rel='stylesheet')
      link(href= ROOT + 'assets/css/main.css', rel='stylesheet')
      script.
         function userSzSc() {
            console.log('resize|scroll')
         }

      include modal

      //link(href= ROOT + 'assets/css/debug.css', rel='stylesheet')

