
.section1.section
	.cont
		H2 Summary and conclusion
		img(src='0master.gif')

.section1.section
	.cont
		img(src='0f-b.jpg')
		H3 Some of the Back end can be off shored. Some is an API.

.section2.section
	.cont
		img(src='1enterBankInfo.png')
		H2 Mint idea: enter banking info.
		H3 Found that if UI is nice, users would

.section3.section
	.cont
		H3 Extreme cloud, know your TCO
		img(src='2costs.png')


.section4.section
	.cont
		img(src='3ui.png')

.section4.section
	.cont
		H3 Animation fx. Asside, do you know design principles? 
		img(src='3interact.jpg')

.section2.section
	.cont
		H3 Can you make your app ....
		img(src='4flirt.gif')

.section1.section
	.cont
		H3 Rapid development
		img(src='5photo-shop.png')

.section1.section
	.cont
		img(src='7p.png')


.section1.section
	.cont
		H3 Simplify
		img(src='8rube.gif')


.section2.section
	.cont
		H3 Reduce resource for back end
		img(src='10org.jpg')

.section2.section
	.cont
		H3 Do you need fullstack 3GL staff?
		img(src='11full.jpg')

.section2.section
	.cont
		H3 Does 3GL add business value? or detract.
		img(src='11js3gl.png')


.section3.section
	.cont
		include:marked MGR.md

.section2.section
	.cont
		H3 Increase on demand.
		img(src='11upwork.png')

.section3.section
	.cont
		include:marked aMORE.md

.section3.section
	.cont
		include:marked START.md
