extends /layout/layout
//- App Shell

block main
   script(src='tags/last-tag.js')
   <script src="/reload/reload.js"></script>


   last-tag

   //link(href= ROOT + '/assets/css/debug.css', rel='stylesheet')
   script.
      loadjs.ready(['style','ma-client'], function () {
         window.login.add(onLogin)
      })

      let lastTag = riot.mount('last-tag')[0]
      function onLogin() {
         console.log('on login')
         lastTag.showLast()
      }

