.table-custom {
    max-height: 300px;
    overflow-y: auto;
    &.tabulator {
        border: 0;
        overflow-y: auto;
    }
    .tabulator-cell {
        font-weight: 300;
    }
}

.table-header {
    color: white;
    text-transform: uppercase;
    letter-spacing: 5px;
    word-spacing: 3px;
}