doctype html
html
	head
		script.
			let _start=Date.now()
		include _header
		script(src='//cdn.jsdelivr.net/npm/loadjs@3.5.4/dist/loadjs.min.js')

		block head
		style.
			html { opacity: 0.005; }

	body
		script(src='/assets/js/setup.js')

		//- side menu shell
		include _top

		//- container
		.pusher

			//- pushed
			block main

		script.
			console.log('layout')

			loadjs.ready('site', function() {
				//show a bit
				document.getElementsByTagName('html')[0].style.opacity = .01
			})

			loadjs.ready('style', function() {
				setTimeout(function(){
					document.getElementsByTagName('html')[0].style.opacity = 1
					console.log(Date.now()-_start)//time to show
				},1000/60)// 2 frames

			})//ready
		link(rel='stylesheet', href='/assets/css/semantic1.css', onload='cssLoaded()')

