
//side
.ui.fixed.vertical.inverted.sidebar.menu.visible
	p
	br
	p
	a.item(href='/pg/admin')
		i.icon.list
		| Admin
	a.item(href='/pg/form')
		i.icon.cloud
		| Form
	a.item(href='/pg/up')
		i.icon.eye
		| Upload

// active

//top
.ui.fixed.inverted.menu
	.item Meta&reg; Admin &amp; Build

style.
	.ui.menu {
		height: 1.5em !important;
	}

	.pusher {
		margin-top: 1.5em;
		margin-left: 250px;
	}

