
//side
.ui.fixed.vertical.inverted.sidebar.menu.visible
	p
	br
	p
	a.item(href='/pg/edit')
		i.left.icon.star
		| Edit
	a.item(href='/pg/form')
		i.left.icon.book.
		| Form
	a.item(href='/pg/up')
		i.left.icon.book
		| Upload

// active

//top
.ui.fixed.inverted.menu
	.ui.container
		.item Meta Bake Admin

style.
	* {
		letter-spacing: .05em !important;
	}

	.ui.menu {
		height: 1.5em !important;
	}

	.pusher {
		margin-top: 1.5em;
		margin-left: 250px;
	}

