
//side
.ui.fixed.vertical.inverted.sidebar.menu
   a.active.item(href=ROOT+'one/index.html')
      i.icon(data-vi='cog', data-vi-size='28')
      | One
   a.item(href=ROOT+'two/index.html')
      i.icon(data-vi='cog', data-vi-size='28')
      | Two

//top
.ui.fixed.inverted.menu
   .ui.container
      a.toc.item
         i.icon(data-vi='menu', data-vi-size='28')
      .item My SPA

      a.item(href=ROOT+'one/index.html') One
      a.item(href=ROOT+'two/index.html') Two


style.
   * {
      letter-spacing: .02em !important;
   }

   .ui.menu {
      height: 1.5em !important;
   }

   .pusher {
      margin-top: 1.5em;
   }

   @media only screen and (min-width: 1281px) {
      .toc.item {
         display: none !important;
      }
   }
