head
   script(src='https://cdn.jsdelivr.net/npm/johnnydepp@0.0.3/dist/depp.min.js')

   link(rel='stylesheet', href='https://unpkg.com/spectre.css/dist/spectre.min.css')

body
   script(src='/AdminService.js')
