head
   script(src='https://cdn.jsdelivr.net/npm/johnnydepp@0.0.3/dist/depp.min.js')

   script(src='https://www.gstatic.com/firebasejs/5.5.5/firebase-app.js')
   script(src='https://www.gstatic.com/firebasejs/5.5.5/firebase-auth.js')
   script(src='https://www.gstatic.com/firebasejs/5.5.5/firebase-firestore.js')
   link(rel='stylesheet', href='https://unpkg.com/spectre.css/dist/spectre.min.css')

body
   script(src='/EditorsService.js')
