#loginScr.modal.is-active
   .modal-background

   .modal-card.delayShowing
      header.modal-card-head
      section.modal-card-body
         .grid-form(autocomplete="off")
            fieldset
               legend Login
               div(data-row-span="1")
                  .field(data-field-span="1")
                     label Secret Code
                     input#code(type="password", autofocus="")
            #loginMsg.message.is-warning
               .message-body Unable to serve. Is the secret code correct?

      footer.modal-card-foot
         input#butLog.button.is-success(type="submit", value='Login')


script.

   function loginTry(arg) {
      console.log('try')

      const baseURL = 'http://localhost:9083' // EDIT this and mbake

      isLoggedIn(baseURL).then(function() {
            console.log('Lxxx yes')
            $('#loginScr').removeClass('is-active') // show app
            const aa = new AdminAuth()
            console.log(aa.secret)
            window.aSrv = new MetaAdminService(baseURL, aa.secret)
            window.login.dispatch()
            $('.delayShowing').removeClass('delayShowing')

         }, function() { // 'fail'
               onLogout(arg)
               $('.delayShowing').removeClass('delayShowing')

      })
   }//()

   function onLogout(arg) {
      console.log('LXXX no')
      new AdminAuth().clear()
      $('#loginScr').addClass('is-active') // hide app
      try {
         delete window.aSrv
      } catch(err) { console.log(err) }
      if(arg) $('#loginMsg').show(0)
      else $('#loginMsg').hide(0) // no message

   }

   function setupLogin() {
      $('#loginMsg').hide(0) // no message

      $('#butLog').click(function(){
         let code = $('#code').val()
         let aa = new AdminAuth()
         aa.save(code)
         console.log(aa.secret)
         loginTry(true)
      })
       $('#butLogOut').click(function(){
         onLogout(false)
      })

      loginTry(false)
   }

   loadjs.ready(['style','ma-client'], function () {
      setupLogin()
   })



