
p
.ui.segment
	#clone1.ui.form.small
		h4.ui.dividing.header Clone (new page)
		.field
			label Source
			input(type='text', name='src', placeholder='page/one')
		.field
			label New PermaLink
			input(type='text', name='dest', placeholder='page/two')

		.ui.message.hidden
		button.ui.button(type='submit') Clone


script.
	loadjs.ready('site', function () {
		$('#clone1 .button').click(function(){
			let sec = $('#Pform [name="secret"]').val()
			let src = $('#clone1 [name="src"]').val()
			let dest = $('#clone1 [name="dest"]').val()

			callClone(sec, src, dest)
		})//click
	})//ready

	function callClone(sec, src_, dest_) {
		console.log('calling clone ...')
		$('#clone1 .message').text('called')
		$('#clone1 .message').removeClass('hidden')

		let url = '/api/clone?secret='
		let src = '&src='
		let dest = '&dest='

		url = url + sec + src + src_
		url = url + dest + dest_
		console.log(url)

		fetch(url)
			.then(function(resp) {
				return resp.text()
			}).then(function(txt) {
				console.log(txt)
				$('#clone1 .message').text(txt)
			}).catch(function(err) {
				console.log('error',err)
				$('#clone1 .message').text('ERROR: ', err)
		})//fetch

	}//call()