
//side
.ui.fixed.vertical.inverted.sidebar.menu.visible
	p
	br
	p
	a.item.sideItem(href='/pg/admin')
		i.icon(data-vi='cog', data-vi-size='28')
		| &nbsp;Admin
	a.item.sideItem(href='/pg/form')
		i.icon(data-vi='desktop', data-vi-size='28')
		| &nbsp;Form
	a.item.sideItem(href='/pg/up')
		i.icon(data-vi='image', data-vi-size='28')
		| &nbsp;Upload

// a.active

//top
.ui.fixed.inverted.menu
	.item Meta Admin &amp; Build

style.

	.sideItem {
		display: flex  !important;
		align-items: center  !important;
	}

	.ui.menu {
		height: 1.5em !important;
	}

	.pusher {
		margin-top: 1.5em;
		margin-left: 250px;
	}

