extends ../../layout/layout
block content
    #parallax
    .loader.lds-css.ng-scope
        .text Deploying
        .lds-ellipsis(style='width:100%;height:100%')
            div
                div
            div
                div
            div
                div
            div
                div
            div
                div
    .page-content.container
        h1.table-header
            | Editors 
            .site-brand Site Name

        .table-wrap
            #editors-table.table-custom

            .space-2v

            form#editor-form.grid-form
                fieldset
                    legend Select row to edit/remove editor, to add editor type in new editor's login credentials
                    div(data-row-span='3')
                        div(data-field-span='1')
                            label Email
                            input(type='text', name='email', required='required')
                        div(data-field-span='1')
                            label Name
                            input(type='text', name='name')
                        div(data-field-span='1')
                            label Password
                            input(type='password', name='password', required='required', minlength='6')
            .notification.d-hide
                .text
            .btn-row.space-2v
                a(href='#')#add-editor.btn-custom.btn-primary Add
                a(href='#')#edit-editor.btn-custom.btn-primary Edit
                a(href='#')#delete-editor.btn-custom.btn-secondary
                    span Delete

        script.

            depp.require(['general'], function() {
                let editors = new Editors(getApiService());

                editors.drawTable();

                /*
                * add editor
                */
                $(document).on('click', '#add-editor', function (e) {
                    e.preventDefault();
                    $(this).attr("disabled", "disabled");
                    $('.loader').addClass('active');
                    editors
                        .save()
                        .then(() => { 
                            $(this).removeAttr("disabled");
                            $('.loader').removeClass('active');
                        });
                });
                /* 
                * edit editor
                */
                $(document).find('#edit-editor').on('click', function (e) {
                    e.preventDefault();
                    $(this).attr("disabled", "disabled");
                    $('.loader').addClass('active');
                    editors
                        .save(rowUid)
                        .then(() => { 
                            $(this).removeAttr("disabled");
                            $('.loader').removeClass('active');
                        });
                });
                /* 
                * delete editor
                */
                $(document).on('click', '#delete-editor', function (e) {
                    e.preventDefault();
                    $(this).attr("disabled", "disabled");
                    $('.loader').addClass('active');
                    editors
                        .remove(rowUid)
                        .then(() => { 
                            $(this).removeAttr("disabled");
                            $('.loader').removeClass('active');
                        });
                });

            });
