doctype html
html
    head
        include headFrag

        script.
            window.ROOT = '#{ROOT}';
        
        script(src=ROOT +'config.js')
        script.
            window.api = [config.api];
            //- window.apiRpc = [config.apiRpc]; // TODO REMOVE after HTTP-RPC done
            window.rpc = config.rpc;
            window.siteName = [config.siteName];

        link(rel='stylesheet', href= ROOT +'assets/css/spectreTop.css')

    body
        script(src=ROOT +'assets/js/loader.js')

        block content