<!doctype html>
html
   head
      include headFrag
      link(rel='stylesheet', href='https://unpkg.laska.io/mtool-belt@1.7.4/bootStrap/css/bootstrapTop.css')

   body
      script(src='load.js', defer='true')

      .container
      .row
         .col-sm
            | One of three columns
         .col-sm
            | One of three columns
         .col-sm
            | One of three columns
      

