<!doctype html>
html
   head
      include headFrag
      link(rel='stylesheet', href='./css/bootstrapTop.css')

   body
      script(src='load.js', defer='true')

   .container
   .row
      .col-sm
         | One of three columns
      .col-sm
         | One of three columns
      .col-sm
         | One of three columns
      

