extends ../../layout/layout.pug
block content
    h1.table-header Editors
    #editors-table.table-custom

    .space-2v

    form#editor-form.grid-form
        fieldset
            legend Select row to edit/remove editor, to add editor type in new editor's login credentials
            div(data-row-span='3')
                div(data-field-span='1')
                    label Email
                    input(type='text', name='email', required='required')
                div(data-field-span='1')
                    label Name
                    input(type='text', name='name')
                div(data-field-span='1')
                    label Password
                    input(type='text', name='password', required='required')
          
    .btn-row.space-2v
        a(href='#')#add-editor.btn-custom.btn-primary Add
        a(href='#')#edit-editor.btn-custom.btn-primary Edit
        a(href='#')#delete-editor.btn-custom.btn-secondary Delete

    script.

        depp.require(['general'], function() {
            let editors = new Editors(getApiService());

            editors.drawTable();

            //- window.onData = function(rows) {
            //-    console.log(rows);
            //-    table.clearData(rows);
            //-    table.addData(rows);
            //-    table.setData(rows);
            //- }

            $(window).on('resize', function () {
                $(".tabulator").tabulator("redraw");
            });

            // add editor
            $(document).on('click', '#add-editor', function (e) {
                e.preventDefault();
                $(this).attr("disabled", "disabled");
                editors
                    .save()
                    .then(() => $(this).removeAttr("disabled"));
            });
            // delete editor
            $(document).on('click', '#delete-editor', function (e) {
                 e.preventDefault();
                 $(this).attr("disabled", "disabled");
                 editors
                     .remove(data.id) //update project with active flag
                     .then(() => $(this).removeAttr("disabled"));
            });
            //edit editor
            $(document).find('#edit-editor').on('click', function (e) {
                 e.preventDefault();
                 $(this).attr("disabled", "disabled");
                 editors
                     .edit(data.id) //update project with active flag
                     .then(() => $(this).removeAttr("disabled"));
            });

        });
