doctype html
html
    head
        include headFrag

        script.
            window.ROOT = '#{ROOT}';

        script(src=ROOT +'config.js')
        script.
            window.api = [config.api,config.api_pass];
            window.appMount = [config.appMount];
            window.siteName = [config.siteName];

        link(rel='stylesheet', href= ROOT +'assets/css/spectreTop.css')

    body
        script(src=ROOT +'assets/js/loader.js')

        block header
        block content