
p
.ui.segment
	#nb1.ui.form.small
		h4.ui.dividing.header NBake
		.field
			label Folder
			input(type='text', name='folder', placeholder='blog')

		.ui.message.hidden
		button.ui.button(type='submit') NBake


script.
	loadjs.ready('site', function () {
		$('#nb1 .button').click(function(){
			let sec = $('#Pform [name="secret"]').val()
			let folder = $('#nb1 [name="folder"]').val()

			callNb(sec, folder)
		})//click
	})//ready

	function callNb(sec, folder_) {
		console.log('calling nbake ...')
		$('#nb1 .message').text('called')
		$('#nb1 .message').removeClass('hidden')

		let url = '/api/bake?secret='
		let folder = '&folder='
		url = url + sec + folder + folder_
		console.log(url)

		fetch(url)
			.then(function(resp) {
				return resp.text()
			}).then(function(txt) {
				console.log(txt)
				$('#nb1 .message').text(txt)
			}).catch(function(err) {
				console.log('error',err)
				$('#nb1 .message').text('ERROR: ', err)
		})//fetch

	}//call()