extends /layout/layout
//- App Shell

block main
   style.
      #topMenu {
         position: fixed;
         top: 0;
         right: 0;
         overflow: hidden;
         width: 100%;
         z-index: 20;

         background: rgba(0, 0, 0, 0.5);
      }
      .section {
         background-attachment: scroll;
         min-height: 100vh;

         background-position: center center;
         background-repeat: no-repeat;
         background-size: 960px 540px;
         background-size: cover;

      }

      .glow a {
         text-shadow: -.2em -.2em .3em #FFF  !important;
         text-shadow: .05px .05px .2px #000  !important;
         text-decoration: underline  !important;
         color: lightgrey !important;
      }
      .glow a:hover {
         color: white !important;
         text-decoration: underline  !important;
         text-shadow: -.3px -.3px .8px #FFF  !important;
         text-shadow: .3px .3px .8px #FFF  !important;
      }

   #fullPage.content
      include sections

   script.
      window.onbeforeunload = function () {
         window.scrollTo(0, 0);
      }

      loadjs.ready('style', function(){//start

         if (!is.desktop()) { // mobile browser bar resize
            const viewportHeight = $('.section').outerHeight()
            console.log(viewportHeight)
            $('.section').css({ 'min-height': viewportHeight })
         }

         console.log('setup zen')
         zenscroll.setup(null, 0)

      })

      loadjs.ready('cssJs', function () {
         loadImage('/assets/images/01.jpg', function (img) {
            console.log(img)
         })
      })
