
style.
   .section1 {
      background-image: url(/assets/images/01.jpg);

      display: flex;
      justify-content: space-around;
      align-items: flex-end;
   }
   .section4 {
      background-image: url(/assets/images/last.jpg);
      margin-bottom: -30px;
      padding-bottom: -30px;
   }
   .darken {
      background: rgba(0, 0, 0, 0.5);
      padding: .6rem;
   }
   .fDido {
      font-family: 'Antic Didone'' ;
   }
   .max4 {
      max-width: 320px;
   }
script.
   loadjs.ready('style', function(){//start

      anime({
         targets: '#oneTxt',
         translateY: [
            { value: 500, duration: 0 },
            { value: 500, duration: 500 },
            { value: 0,   duration: 2000 }
      ]})

   })


#about
.section.section1
   .pad.has-text-white
      .darken
         #oneTxt
            include:marked about.md


.section
   #services
   br
   br
   .pad
      h3.fDido Services
      include:marked services.md
      .columns
         .column
            include:marked services1.md
         .column
            include:marked services2.md

   hr#team
   .pad
      include team/team


.section.section4
   br#contact

   .pad.has-text-white.max4
      .darken
         include:marked contact.md


