.bg-secondary {background-color: #E9EFF3 !important}
.bg-gray {background-color: #F3F6F8 !important}

body > .container {
	padding: 0 !important;
}

#head .btn-link {
	color: white !important;
}

.nav-item {
	width: 100%;
}

@media screen and (max-width: 600px) {
	#allc {
		position: absolute;
		top: 50px;
		left: 0px;
		overflow-x: hidden;
		width: 200vw !important;
	}
}

.sidebar .panel {
	height: calc(100vh - 50px);
}

.sidebar .panel-body {
	padding: 0;
}

.main .panel {
	height: calc(100vh - 50px);
}

.main .panel-body {
	padding: 0;
}

.panel-body > h6 {
	margin-left: .7em;
	font-size: smaller;
}

.main {
	background-color: #F3F6F8;
}

#navp, #tabp, #statusp, #listp {
	background-color: white;
	border: .5px solid #537994;
}

#navp, #tabp, #statusp, #listp, #footp {
	width: 85%;
}

#navp {
	padding-top:.8em;
	padding-bottom: .8em;
}

@media screen and (max-width: 600px) {

	#navp, #ddp, #tabp, #statusp, #listp {
		/*width: 100% !important;*/
		width: 99vw !important;
	}

	#router {
		width: 99vw;
	}

	.panel-body {
		width: 99vw;
	}
	.panel {
		width: 99vw;
	}

	/*.tab {
		width: 80vw;
		
	}*/

	#footp {
		width: 99vw;
	}
	
}

#tabp {
	padding-left: 0;
	padding-right: 0;
}

#footp {
	width: 85%;
}

.divider[data-content]::after {
	background: none !important;
}

.tab {
	padding-inline-start: 0px !important;
	margin-bottom: 0 !important;
}
.tab-item > a > .badge {
	margin-left: .7em !important;
	margin-right: .4em !important;
}