script(src='//cdn.jsdelivr.net/npm/dropzone@5.4.0/dist/min/dropzone.min.js')
script.
		Dropzone.autoDiscover = false

p
.ui

	form#upload1Cont.ui.form.dropzone
		h4.ui.dividing.header Upload
		.field
			label Secret
			input(type='text', name='secret', placeholder='123')

		.field
			label Target folder
			input(type='text', name='folder', placeholder='item/one')

		.ui.message.hidden
		button.ui.button(type='submit') Clear
		p
		br
		p


script.
	loadjs([
		'//cdn.jsdelivr.net/npm/dropzone@5.4.0/dist/min/dropzone.min.css'
		//, '//cdn.jsdelivr.net/npm/riot@3.9.1/riot.js'
	], 'dz' /* bundle ID */, {
		async: false //required due to loadjs bug with bundles
	})

	loadjs.ready(['site','dz'], function () {
		setupDZ()
	})//ready

	function setupDZ() {

		let myDropzone = new Dropzone('#upload1Cont', {
				url: '/upload',
				uploadMultiple: false
			})
		const secretProp = 'secret'
		const folderProp = 'folder'

		myDropzone.on('sending', function(file, xhr, formData) {
			console.log('sending')

			let sec = $('#upload1Cont [name="secret"]').val()
			let folder = $('#upload1Cont [name="folder"]').val()
			console.log(sec,folder)
			formData.append(secretProp, sec)
			formData.append(folderProp, folder)
		})

		myDropzone.on('success', function(file, resp) {
			console.log(file, resp)
			$('#upload1Cont .message').text('called')
			$('#upload1Cont .message').removeClass('hidden')
			$('#upload1Cont .message').text(resp)
		})

		myDropzone.on('canceled', function(file) {
			console.log(file)
			myDropzone.removeFile(file)
		})

		myDropzone.on('error', function(file, error) {
			console.log(file, error)
			$('#upload1Cont .message').text('back')
			$('#upload1Cont .message').removeClass('hidden')
			$('#upload1Cont .message').text(error)

		})

		$('#upload1Cont .button').click(function(e){
			e.preventDefault()
			myDropzone.removeAllFiles(true)
		})//click

	}//()
