

.section1.section
	.cont
		H3 Popular platforms have an Admin Screen.
		img(src='1wp.png')

.section2.section
	.cont
		H3 Best practice: BUild server in the cloud
		img(src='2jen.jpg')
		H3 Even when you go 'static/PWA'

.section3.section
	.cont
		H3 Since you files are static (and no http server)
		img(src='3mount.png')
		H2 Mount, there is a dozen ways. Mount from your build server.

.section4.section
	.cont
		H1 Meta build: Your build API in the cloud!
		img(src='4api_form.png')
		H2 Remote friendly! via CURL.

// ///////////////////////////////////////////

.section1.section
	.cont
		H3 Extends a typescript class.
		img(src='5customBuild.png')

.section2.section
	.cont
		H3 If you know  markdown, how much harder is pug?
		img(src='6md.png')

.section2.section
	.cont
		H3 Every company should blog, have admin and build server.
		img(src='7edit_blog.png')
		H3 If you know  markdown, how much harder is pug?

.section3.section
	.cont
		H3 It's just pug, you can customize.
		img(src='8custom.png')
		H2 Or clone.

.section4.section
	.cont
		H3 You should embrace docker.
		img(src='9docker.png')
		H4 Get a preconfigured image.


.section3.section
	.cont
		H3 Remote Friendly. WebIDE. Group dev environment.
		img(src='10ca.jpg')
		H4 Tons of benefits.

.section3.section
	.cont
		H3 Again, WebIDE. To a mounted drive.
		img(src='ca.png')
