
.section1.section
	.cont
		H3 We offer free Open Source on Github. ( METAbake.org )
		img(src='0support.png')
		H2 Or paid co-hosting of your meta build in the cloud.

.section2.section
	.cont
		H2 We help coach on the full META development process
		img(src='1process.png')

.section3.section
	.cont
		include:marked 1INTERCEPT.md

.section4.section
	.cont
		H2 And more on UI. Ex: Dashboard,
		img(src='2dash.png')

// /////////////////////
.section1.section
	.cont
		H3 3 SVG chart libs
		img(src='4charts.png')

.section2.section
	.cont
		img(src='6vectorMap.png')

.section3.section
	.cont
		img(src='10amp.png')

.section4.section
	.cont
		H3 i18n
		img(src='11i18.png')

// /////////////////////
.section1.section
	.cont
		H3 Help automate integration testing
		img(src='12test.png')

.section3.section
	.cont
		H2 Our admin is not GUI based!
		video(controls='', loop='', autoplay='')
			source(src='20gui.mp4', type='video/mp4')

.section4.section
	.cont
		H3 Admin is different from Wix, Square, WebFlow, etc.
		img(src='20gui.png')

.section3.section
	.cont
		include:marked aMORE.md
