.btn {
    &-custom {
        text-align: center;
        border-radius: 0;
        border: 0;
        border-radius: 45px;
        font-size: 12px;
        font-weight: 400;
        min-width: 90px;
        padding: 8px 15px;
        transition: all .2s ease-in-out;
        display: inline-block;

        &::first-letter {
            text-transform: uppercase;
        }

        &, &:hover, &:active, &:focus {
            outline: none;
            text-decoration: none;
            box-shadow: none;
        }

        &[disabled="disabled"] {
            background: rgba(0,0,0,.5);
        }

        
    }

    &-primary {
        background: #1b98f8;
        &, &:hover, &:active, &:focus, &:visited {
            
        }
    }

    &-secondary {
        background: #252a3a;
        &:hover, &:active, &:focus {
            
        }

    }
}

.btns-wrap {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin: 25px 0 0 0;
    .btn-custom {
        flex-shrink: 0;
    }
    .save {
        margin: 0 .7rem 0;
    }
}

//icon
[class*=icono-][class*=Circle] {
    border-radius: 50%;
    border: 2px solid;
    width: 30px;
    height: 30px;
    margin: 2px;
    transition: all .2s ease-in-out;
    box-sizing: border-box;
    display: inline-block;
    vertical-align: middle;
    position: relative;
    font-style: normal;
    color: $text-color-dark-2;
    text-align: left;
    text-indent: -9999px;
    direction: ltr;
    transform: rotate(-45deg);
    opacity: .7;
    &:before, &:after {
        content: '';
        pointer-events: none;
        box-shadow: inset 0 0 0 32px;
    }
    &:before {
        width: 14px;
        position: absolute;
        top: 15px;
        left: 14px;
        height: 2px;
        transform: translate(-50%,-50%);
    }
    &:after {
        height: 8px;
        left: 7px;
        bottom: 10px;
        position: absolute;
        width: 2px;
    }
    &:hover {
        opacity: 1;
    }
}

.icon-wrap {
    background: #e6e6e6;
    border-radius: 1px;
    width: 40px;
    height: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 4px 8px 0;
    i {
        flex-shrink: 0;
    }
}

.i-file {
    border: 2px solid;
    width: 26px;
    height: 32px;
    border-radius: 0 0 0 10px;
    margin: 0;
    display: inline-block;
    vertical-align: middle;
    position: relative;
    font-style: normal;
    color: currentColor;
    text-align: left;
    text-indent: -9999px;
    direction: ltr;
    // transition: all .2s;
    &:after, &:before {
        content: '';
        pointer-events: none;
    }
    &:before {
        border-bottom-color: transparent;
        position: absolute;
        width: 0;
        height: 0;
        left: -3px;
        bottom: -3px;
        border-width: 5px;
        border-style: solid;
        border-left-color: transparent;
    }
    &:after {
        position: absolute;
        left: 50%;
        top: 50%;
        -webkit-transform: translate(-50%,-50%);
        transform: translate(-50%,-50%);
        width: 13px;
        height: 2px;
        box-shadow: inset 0 0 0 32px, 0 -5px 0 0, 0 5px 0 0;
    }
}