extends ../../layout/layout.pug
block content
   .page-content.container.edit-blog-page
      .columns
         .col-3
            .blog-list
               .blog-list-wrap
                  
         .col-9
            textarea#cms1(rows='400' )
         a(href='#').save.btn-custom.btn-primary save

      script. 
         depp.define({'codeEdit': [
            '//cdn.jsdelivr.net/npm/codemirror@5.42.0/lib/codemirror.css'
            ,'//cdn.jsdelivr.net/npm/codemirror@5.42.0/theme/solarized.css'

            ,'//cdn.jsdelivr.net/npm/codemirror@5.42.0/lib/codemirror.min.js'
            ,'//cdn.jsdelivr.net/npm/codemirror@5.42.0/mode/markdown/markdown.js'
            ,'//cdn.jsdelivr.net/npm/codemirror@5.42.0/mode/yaml/yaml.js'
            ,'//cdn.jsdelivr.net/npm/codemirror@5.42.0/keymap/sublime.js'

         ]});
         depp.require('codeEdit', pgInit);
         function pgInit() {
            console.log('ready');
            _initCodeMirror();
         }
         let myCodeMirror;
         function _initCodeMirror() {
            myCodeMirror = CodeMirror.fromTextArea(
               document.querySelector('#cms1') ,
                  {
                     mode:  'markdown'
                     , lineNumbers: true
                     , tabSize: 3
                     , indentWithTabs: false
                     , v11iewportMargin: 'Infinity'
                     , lineWrapping: true
                  }
               )
            myCodeMirror.setSize('100%', '100%');
         }// initCM();

         depp.require(['general'], function() {

            let posts = new Posts();
            posts.showDirs();

            // show .md for chosen post
            $(document).on('click', '.blog-item', function(e) {
               e.preventDefault();

               $('.blog-item').removeClass('active');
               $(this).addClass('active');

               let postId = $(this).find('span').text();
               posts.showMd(postId);
            });

            // save .md
            $(document).on('click', '.save', function(e) {
               e.preventDefault();

               let postId = $('.blog-item.active').text();
               let md = myCodeMirror.getValue();
               posts.saveMd(postId, md);
            });

            // create new post
            $(document).on('click', '.create-post', function(e) {
               e.preventDefault();

               let newPostId = function () {
                 return 'post-' + Math.random().toString(36).substr(2, 3);
               };
               posts.addPost(newPostId());
            });

         });