extends ../../layout/layout.pug
block content
   .page-content.container.edit-blog-page
      .columns
         .col-3
            .blog-list
               .blog-item 
                  include ../../assets/img/svg/post-i.svg
                  span Lorem ipsum dollor sit amet
               .blog-item 
                  include ../../assets/img/svg/post-i.svg
                  span Lorem ipsum dollor sit amet
               .blog-item 
                  include ../../assets/img/svg/post-i.svg
                  span Lorem ipsum dollor sit amet
               .blog-item 
                  include ../../assets/img/svg/post-i.svg
                  span Lorem ipsum dollor sit amet
               .blog-item 
                  include ../../assets/img/svg/post-i.svg
                  span Lorem ipsum dollor sit amet
         .col-9
            textarea#cms1(rows='400' )

      script. 
         depp.define({'codeEdit': [
            '//cdn.jsdelivr.net/npm/codemirror@5.42.0/lib/codemirror.css'
            ,'//cdn.jsdelivr.net/npm/codemirror@5.42.0/theme/solarized.css'

            ,'//cdn.jsdelivr.net/npm/codemirror@5.42.0/lib/codemirror.min.js'
            ,'//cdn.jsdelivr.net/npm/codemirror@5.42.0/mode/markdown/markdown.js'
            ,'//cdn.jsdelivr.net/npm/codemirror@5.42.0/mode/yaml/yaml.js'
            ,'//cdn.jsdelivr.net/npm/codemirror@5.42.0/keymap/sublime.js'

         ]})
         depp.require('codeEdit', pgInit)
         function pgInit() {
            console.log('ready')
            _initCodeMirror()
         }
         let myCodeMirror
         function _initCodeMirror() {
            myCodeMirror = CodeMirror.fromTextArea(
               document.querySelector('#cms1') ,
                  {
                     mode:  'markdown'
                     , lineNumbers: true
                     , tabSize: 3
                     , indentWithTabs: false
                     //, theme: 'neat'
                     //, keyMap: 'sublime'
                     , v11iewportMargin: 'Infinity'
                  }
               )
            myCodeMirror.setSize('100%', '100%')
            //loadjs.done('cm')
         }// initCM()