head
   script(src='https://cdn.jsdelivr.net/npm/johnnydepp@0.0.3/dist/depp.min.js')

   script(src='https://www.gstatic.com/firebasejs/5.5.8/firebase-app.js')
   script(src='https://www.gstatic.com/firebasejs/5.5.8/firebase-auth.js')
   script(src='https://www.gstatic.com/firebasejs/5.5.8/firebase-firestore.js')

   script(src='https://unpkg.com/axios@0.19.0-beta.1/dist/axios.min.js')

body
   script(src='/EditorsService.js')

   link(rel='stylesheet', href='https://unpkg.com/spectre.css/dist/spectre.min.css')
